# 1. Connect to your MongoDB cluster on the cloud

In [1]:
# Install a conda package in the current Jupyter kernel
import sys
!{sys.executable} -m pip -q install missingno
!{sys.executable} -m pip -q install squarify
!{sys.executable} -m pip -q install geopandas
!{sys.executable} -m pip -q install country_converter
!{sys.executable} -m pip -q install dataprep
!{sys.executable} -m pip -q install recmetrics
!{sys.executable} -m pip -q install pymongo


# work with data in tabular representation
from datetime import time
import pandas as pd
# round the data in the correlation matrix
import numpy as np
import os
#The pickle is for generate the function later
import pickle
#recmetrics is for plotting the long tail problem
import recmetrics




# Modules for data visualization
import seaborn as sns
# overwrite the style of all the matplotlib graphs
sns.set()
import matplotlib.pyplot as plt


pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

# Ensure that our plots are shown and embedded within the Jupyter notebook itself. Without this command, sometimes plots may show up in pop-up windows
%matplotlib inline

# ignore DeprecationWarning Error Messages
import warnings
warnings.filterwarnings('ignore')


from dataprep.clean import validate_country #This one is for splitting

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 2.2.2 requires click>=8.0, but you have click 7.1.2 which is incompatible.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ray 2.0.0 requires click<=8.0.4,>=7.0, but you have click 8.1.3 which is incompatible.
fiona 1.8.13.post1 requires click<8,>=4.0, but you have click 8.1.3 which is incompatible.

/opt/miniconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
import pymongo

# Replace this with your MongoDB cluster
client = pymongo.MongoClient("mongodb+srv://admin:Rm1thello@cluster0.iery2za.mongodb.net/test")
db = client.testdb

# Issue the serverStatus command and print the results
serverStatusResult=db.command("serverStatus")
print(serverStatusResult)

{'host': 'ac-yo2vebv-shard-00-01.iery2za.mongodb.net:27017', 'version': '5.0.13', 'process': 'mongod', 'pid': 1656, 'uptime': 10148.0, 'uptimeMillis': 10147987, 'uptimeEstimate': 10147, 'localTime': datetime.datetime(2022, 10, 14, 16, 10, 40, 487000), 'asserts': {'regular': 0, 'warning': 0, 'msg': 0, 'user': 0, 'rollovers': 0}, 'connections': {'current': 27, 'available': 473, 'totalCreated': 132}, 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0}, 'network': {'bytesIn': 124499634, 'bytesOut': 7800812, 'numRequests': 3348}, 'opcounters': {'insert': 586, 'query': 105, 'update': 0, 'delete': 0, 'getmore': 5, 'command': 2643, 'deprecated': {'query': 0, 'getmore': 0}}, 'opcountersRepl': {'insert': 0, 'query': 0, 'update': 0, 'delete': 0, 'getmore': 0, 'command': 0, 'deprecated': {'query': 0, 'getmore': 0}}, 'repl': {'topologyVersion': {'processId': ObjectId('6349625c73e34e4d683b03de'), 'counter': 6}, 'hosts': ['ac-yo2vebv-shard-00-00.iery2za.mongodb.net:27017', 'ac-yo2vebv-shard-00-01.iery2za.mongodb.net:27017', 'ac-yo2vebv-shard-00-02.iery2za.mongodb.net:27017'], 'setName': 'atlas-11188s-shard-0', 'setVersion': 1, 'isWritablePrimary': True, 'secondary': False, 'primary': 'ac-yo2vebv-shard-00-01.iery2za.mongodb.net:27017', 'tags': {'region': 'AP_EAST_1', 'nodeType': 'ELECTABLE', 'workloadType': 'OPERATIONAL', 'provider': 'AWS'}, 'me': 'ac-yo2vebv-shard-00-01.iery2za.mongodb.net:27017', 'electionId': ObjectId('7fffffff0000000000000016'), 'lastWrite': {'opTime': {'ts': Timestamp(1665763840, 1), 't': 22}, 'lastWriteDate': datetime.datetime(2022, 10, 14, 16, 10, 40), 'majorityOpTime': {'ts': Timestamp(1665763840, 1), 't': 22}, 'majorityWriteDate': datetime.datetime(2022, 10, 14, 16, 10, 40)}, 'primaryOnlyServices': {'TenantMigrationDonorService': {'state': 'running', 'numInstances': 0}, 'TenantMigrationRecipientService': {'state': 'running', 'numInstances': 0}}, 'rbid': 1}, 'storageEngine': {'name': 'wiredTiger', 'supportsCommittedReads': True, 'oldestRequiredTimestampForCrashRecovery': Timestamp(1665763790, 1), 'supportsPendingDrops': True, 'dropPendingIdents': 0, 'supportsSnapshotReadConcern': True, 'readOnly': False, 'persistent': True, 'backupCursorOpen': False, 'supportsResumableIndexBuilds': True}, 'mem': {'bits': 64, 'resident': 0, 'virtual': 0, 'supported': True, 'mapped': 0, 'mappedWithJournal': 0}, 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0, 'searchMeta': 0}, 'operatorCounters': {'match': {'text': 0, 'regex': 0}}, 'atlas': {'connectionPool': {'totalCreated': 1879}}}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1665763840, 1), 'signature': {'hash': b'\x12/:\xd1`\xad\x17\xab,\xe2\xee\xf7\x1b\x8dh\x00\xaa;D\xb2', 'keyId': 7103144298559832069}}, 'operationTime': Timestamp(1665763840, 1), 'opLatencies': {'reads': {'latency': 3795596, 'ops': 254}, 'writes': {'latency': 17771354, 'ops': 579}, 'commands': {'latency': 11392636580, 'ops': 2475}}, 'atlasVersion': {'version': '20220914.0.0.1663348381', 'gitVersion': '14bc9397d8af3fc806b476e052a5cf881cc9ff27'}}

# 2. Create a collection
In the first example, we create a new collection. MongoDB stores documents in collections. Collections are analogous to tables in relational databases.

In [3]:
# Create Connection
print(f"Existing Databases")
print(client.list_database_names())

Existing Databases
['Energy', 'admin', 'local']

In [4]:
mydatabase = client.Energy
mycollection = mydatabase.electricity-Coteq
cursor = mycollection.find()
listofDocuments = list(cursor)
df = pd.DataFrame(listofDocuments)
df

,_id,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc
0,634987233b072ba83f44ac24,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,Dorpsstraat,7468CP,7471AA,ENTER,19,89.47,94.74,89,1x35,4122,89.47,0.0
1,634987233b072ba83f44ac25,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,De Stoevelaar,7471AB,7471AB,GOOR,37,100.0,100.0,86,1x35,1800,94.59,0.0
2,634987233b072ba83f44ac26,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,De Stoevelaar,7471AC,7471AC,GOOR,16,100.0,100.0,100,1x35,1315,100.0,0.0
3,634987233b072ba83f44ac27,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,De Stoevelaar,7471AD,7471AE,GOOR,25,92.0,84.0,44,1x35,6379,92.0,0.0
4,634987233b072ba83f44ac28,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,Kerkstraat,7471AG,7471AG,GOOR,14,85.71,100.0,36,1x35,4404,92.86,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2498,634987243b072ba83f44b5e6,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,Sterrebos,7609ZP,7609ZP,ALMELO,27,14.81,100.0,96,1x35,2619,100.0,0.0
2499,634987243b072ba83f44b5e7,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,Loofgang,7609ZR,7609ZR,ALMELO,28,71.43,100.0,89,1x35,3846,100.0,0.0
2500,634987243b072ba83f44b5e8,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,Vista,7609ZS,7609ZS,ALMELO,25,60.0,100.0,76,1x35,5312,96.0,0.0
2501,634987243b072ba83f44b5e9,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,Tuinvaas,7609ZT,7609ZT,ALMELO,18,77.78,100.0,94,1x35,4111,100.0,0.0
2502,634987243b072ba83f44b5ea,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,Wintertuin,7609ZV,7609ZW,ALMELO,45,77.78,100.0,98,1x35,3858,100.0,0.0

In [5]:
stop

NameError: name 'stop' is not defined

# 3. List collections
With collection_names(), we get list available collections in the database.

In [ ]:
print(db.list_database_names())

# 4. Get the stats
The dbstats command returns statistics that reflect the use state of a single database.

In [ ]:
status = db.command("dbstats")
print(status)

# 5. PyMongo cursor
The find methods return a PyMongo cursor, which is a reference to the result set of a query.

In [ ]:
cars = db.cars.find()

In [ ]:
cars

In [ ]:
cars = db.cars.find()

print(cars.next())
print(cars.next())
print(cars.next())

cars.rewind()

print(cars.next())
print(cars.next())
print(cars.next())    

print(list(cars))

# 6. Read all data
In the following example, we read all records from the collection. We use Python for loop to traverse the returned cursor.

In [ ]:
cars = db.cars.find()

for car in cars:
    print('{0} {1}'.format(car['name'], car['price']))

In [ ]:
# limit output
cars = db.cars.find().skip(2).limit(3)

for car in cars:
    print('{0}: {1}'.format(car['name'], car['price']))

# 7. Count documents
The number of documents is retrieved with the count() method.

In [ ]:
n_cars = db.cars.find().count()
print("There are {} cars".format(n_cars))

# 8. PyMongo filters
The first parameter of find() and find_one() is a filter. The filter is a condition that all documents must match.

In [ ]:
expensive_cars = db.cars.find({'price': {'$gt': 50000}})
for ecar in expensive_cars:
    print(ecar['name'])

# 9. PyMongo sorting documents
We can sort documents with sort().

In [ ]:
cars = db.cars.find().sort("price", pymongo.DESCENDING)

for car in cars:
    print('{0} {1}'.format(car['name'], 
        car['price']))

# 10. PyMongo aggregations
Aggregations calculate aggregate values for the data in a collection.

In [ ]:
# sum price of  all cars
agr = [ {'$group': {'_id': 1, 'all': { '$sum': '$price' } } } ]
val = list(db.cars.aggregate(agr))
print('The sum of prices is {}'.format(val[0]['all']))

In [ ]:
# sum price of 2 cars  that match the condition
agr = [
    { '$match': 
         {'$or': 
          [ { 'name': "Audi" }, { 'name': "Volvo" }] 
         }
    }, 
    { '$group': {'_id': 1, 'sum2cars': { '$sum': "$price" } }}]

val = list(db.cars.aggregate(agr))

print('The sum of prices of two cars is {}'.format(val[0]['sum2cars']))

# 11. Drop collections
The drop() method removes a collection from the database.

In [ ]:
db.cars.drop()