# 1. Connect to your MongoDB cluster on the cloud

In [3]:
# Install a conda package in the current Jupyter kernel
import sys
!{sys.executable} -m pip -q install missingno
!{sys.executable} -m pip -q install squarify
!{sys.executable} -m pip -q install geopandas
!{sys.executable} -m pip -q install country_converter
!{sys.executable} -m pip -q install dataprep
!{sys.executable} -m pip -q install recmetrics
!{sys.executable} -m pip -q install pymongo


# work with data in tabular representation
from datetime import time
import pandas as pd
# round the data in the correlation matrix
import numpy as np
import os
#The pickle is for generate the function later
import pickle
#recmetrics is for plotting the long tail problem
import recmetrics




# Modules for data visualization
import seaborn as sns
# overwrite the style of all the matplotlib graphs
sns.set()
import matplotlib.pyplot as plt


pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

# Ensure that our plots are shown and embedded within the Jupyter notebook itself. Without this command, sometimes plots may show up in pop-up windows
%matplotlib inline

# ignore DeprecationWarning Error Messages
import warnings
warnings.filterwarnings('ignore')


from dataprep.clean import validate_country #This one is for splitting

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 2.2.2 requires click>=8.0, but you have click 7.1.2 which is incompatible.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ray 2.0.0 requires click<=8.0.4,>=7.0, but you have click 8.1.3 which is incompatible.
fiona 1.8.13.post1 requires click<8,>=4.0, but you have click 8.1.3 which is incompatible.

In [4]:
import pymongo

# Replace this with your MongoDB cluster
client = pymongo.MongoClient("mongodb+srv://admin:Rm1thello@cluster0.iery2za.mongodb.net/test")
db = client.testdb

# Issue the serverStatus command and print the results
serverStatusResult=db.command("serverStatus")
print(serverStatusResult)

ConfigurationError: The "dnspython" module must be installed to use mongodb+srv:// URIs. To fix this error install pymongo with the srv extra:
 /opt/miniconda3/bin/python -m pip install "pymongo[srv]"

# 2. Create a collection
In the first example, we create a new collection. MongoDB stores documents in collections. Collections are analogous to tables in relational databases.

In [2]:
cars = [ {'name': 'Audi', 'price': 52642},
    {'name': 'Mercedes', 'price': 57127},
    {'name': 'Skoda', 'price': 9000},
    {'name': 'Volvo', 'price': 29000},
    {'name': 'Bentley', 'price': 350000},
    {'name': 'Citroen', 'price': 21000},
    {'name': 'Hummer', 'price': 41400},
    {'name': 'Volkswagen', 'price': 21600} ]

db.cars.insert_many(cars)

# 3. List collections
With collection_names(), we get list available collections in the database.

In [3]:
print(db.collection_names())

['processed_glassdoor', 'cars', 'raw_glassdoor']

<ipython-input-3-6172a591c87f>:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  print(db.collection_names())

# 4. Get the stats
The dbstats command returns statistics that reflect the use state of a single database.

In [4]:
status = db.command("dbstats")
print(status)

{'db': 'testdb', 'collections': 3, 'views': 0, 'objects': 154, 'avgObjSize': 4111.883116883117, 'dataSize': 633230, 'storageSize': 659456, 'totalFreeStorageSize': 0, 'numExtents': 0, 'indexes': 3, 'indexSize': 77824, 'fileSize': 0, 'nsSizeMB': 0, 'ok': 1}

# 5. PyMongo cursor
The find methods return a PyMongo cursor, which is a reference to the result set of a query.

In [5]:
cars = db.cars.find()

In [6]:
cars

In [5]:
cars = db.cars.find()

print(cars.next())
print(cars.next())
print(cars.next())

cars.rewind()

print(cars.next())
print(cars.next())
print(cars.next())    

print(list(cars))

{'_id': ObjectId('60e01fbabbdff5c63ee54aa9'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('60e01fbabbdff5c63ee54aaa'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('60e01fbabbdff5c63ee54aab'), 'name': 'Skoda', 'price': 9000}
{'_id': ObjectId('60e01fbabbdff5c63ee54aa9'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('60e01fbabbdff5c63ee54aaa'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('60e01fbabbdff5c63ee54aab'), 'name': 'Skoda', 'price': 9000}
[{'_id': ObjectId('60e01fbabbdff5c63ee54aac'), 'name': 'Volvo', 'price': 29000}, {'_id': ObjectId('60e01fbabbdff5c63ee54aad'), 'name': 'Bentley', 'price': 350000}, {'_id': ObjectId('60e01fbabbdff5c63ee54aae'), 'name': 'Citroen', 'price': 21000}, {'_id': ObjectId('60e01fbabbdff5c63ee54aaf'), 'name': 'Hummer', 'price': 41400}, {'_id': ObjectId('60e01fbabbdff5c63ee54ab0'), 'name': 'Volkswagen', 'price': 21600}, {'_id': ObjectId('60e02c43e31082a3a4126aff'), 'name': 'Audi', 'price': 52642}, {'_id': ObjectId('60e02c43e31082a3a4126b00'), 'name': 'Mercedes', 'price': 57127}, {'_id': ObjectId('60e02c43e31082a3a4126b01'), 'name': 'Skoda', 'price': 9000}, {'_id': ObjectId('60e02c43e31082a3a4126b02'), 'name': 'Volvo', 'price': 29000}, {'_id': ObjectId('60e02c43e31082a3a4126b03'), 'name': 'Bentley', 'price': 350000}, {'_id': ObjectId('60e02c43e31082a3a4126b04'), 'name': 'Citroen', 'price': 21000}, {'_id': ObjectId('60e02c43e31082a3a4126b05'), 'name': 'Hummer', 'price': 41400}, {'_id': ObjectId('60e02c43e31082a3a4126b06'), 'name': 'Volkswagen', 'price': 21600}, {'_id': ObjectId('60e02fff326071bd317b1816'), 'name': 'Audi', 'price': 52642}, {'_id': ObjectId('60e02fff326071bd317b1817'), 'name': 'Mercedes', 'price': 57127}, {'_id': ObjectId('60e02fff326071bd317b1818'), 'name': 'Skoda', 'price': 9000}, {'_id': ObjectId('60e02fff326071bd317b1819'), 'name': 'Volvo', 'price': 29000}, {'_id': ObjectId('60e02fff326071bd317b181a'), 'name': 'Bentley', 'price': 350000}, {'_id': ObjectId('60e02fff326071bd317b181b'), 'name': 'Citroen', 'price': 21000}, {'_id': ObjectId('60e02fff326071bd317b181c'), 'name': 'Hummer', 'price': 41400}, {'_id': ObjectId('60e02fff326071bd317b181d'), 'name': 'Volkswagen', 'price': 21600}]

# 6. Read all data
In the following example, we read all records from the collection. We use Python for loop to traverse the returned cursor.

In [6]:
cars = db.cars.find()

for car in cars:
    print('{0} {1}'.format(car['name'], car['price']))

Audi 52642
Mercedes 57127
Skoda 9000
Volvo 29000
Bentley 350000
Citroen 21000
Hummer 41400
Volkswagen 21600
Audi 52642
Mercedes 57127
Skoda 9000
Volvo 29000
Bentley 350000
Citroen 21000
Hummer 41400
Volkswagen 21600
Audi 52642
Mercedes 57127
Skoda 9000
Volvo 29000
Bentley 350000
Citroen 21000
Hummer 41400
Volkswagen 21600

In [7]:
# limit output
cars = db.cars.find().skip(2).limit(3)

for car in cars:
    print('{0}: {1}'.format(car['name'], car['price']))

Skoda: 9000
Volvo: 29000
Bentley: 350000

# 7. Count documents
The number of documents is retrieved with the count() method.

In [8]:
n_cars = db.cars.find().count()
print("There are {} cars".format(n_cars))

There are 24 cars

<ipython-input-8-529d3bb76e31>:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  n_cars = db.cars.find().count()

# 8. PyMongo filters
The first parameter of find() and find_one() is a filter. The filter is a condition that all documents must match.

In [9]:
expensive_cars = db.cars.find({'price': {'$gt': 50000}})
for ecar in expensive_cars:
    print(ecar['name'])

Audi
Mercedes
Bentley
Audi
Mercedes
Bentley
Audi
Mercedes
Bentley

# 9. PyMongo sorting documents
We can sort documents with sort().

In [10]:
cars = db.cars.find().sort("price", pymongo.DESCENDING)

for car in cars:
    print('{0} {1}'.format(car['name'], 
        car['price']))

Bentley 350000
Bentley 350000
Bentley 350000
Mercedes 57127
Mercedes 57127
Mercedes 57127
Audi 52642
Audi 52642
Audi 52642
Hummer 41400
Hummer 41400
Hummer 41400
Volvo 29000
Volvo 29000
Volvo 29000
Volkswagen 21600
Volkswagen 21600
Volkswagen 21600
Citroen 21000
Citroen 21000
Citroen 21000
Skoda 9000
Skoda 9000
Skoda 9000

# 10. PyMongo aggregations
Aggregations calculate aggregate values for the data in a collection.

In [11]:
# sum price of  all cars
agr = [ {'$group': {'_id': 1, 'all': { '$sum': '$price' } } } ]
val = list(db.cars.aggregate(agr))
print('The sum of prices is {}'.format(val[0]['all']))

The sum of prices is 1745307

In [12]:
# sum price of 2 cars  that match the condition
agr = [
    { '$match': 
         {'$or': 
          [ { 'name': "Audi" }, { 'name': "Volvo" }] 
         }
    }, 
    { '$group': {'_id': 1, 'sum2cars': { '$sum': "$price" } }}]

val = list(db.cars.aggregate(agr))

print('The sum of prices of two cars is {}'.format(val[0]['sum2cars']))

The sum of prices of two cars is 244926

# 11. Drop collections
The drop() method removes a collection from the database.

In [13]:
db.cars.drop()